.row {
    padding: 10px;
    border: 1px solid black;
    font-size: 14px;
    font-family: Franklin Gothic Book;
    text-align: center;
    width: 100%;
}

.container {
    padding: 20px;
    margin: auto;
    width: 80%;
}

.mdl-card {
    text-align: center;
}

.mdl-button {
    background-color: rgba(10,10,10,0.1);
}

.public {
    background-color: #ffc107;
}

.private {
    background-color: #4508af;
    color: white;
}

.privateFullscreen {
    background-color: #4508af;
    color: white;
    max-height: 100%;
    overflow: auto;
}
.publicFullscreen {
    background-color: #ffc107;
    color: black;
    max-height: 100%;
    overflow: auto;
}

.chordText {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    text-align: center !important;
}