<div class = "demo-card-wide mdl-card mdl-shadow--2dp">
    <div class = "mdl-card__title">
        <h2 class="mdl-card__title-text">Don't Fret DMCA Policy</h2>
    </div>
    <div class = "mdl-card__supporting-text">
        <p>Don't Fret respects the intellectual property rights of others and expects its users to do the same. In accordance with the 
        Digital Millenium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website <a href = 'http://www.copyright.gov/legislation/dmca.pdf'>here</a>, 
        Don't Fret will respond with speed and efficiency to claims of copyright infringement committed using the Don't Fret website if 
        such claims are reported to Don't Fret's Designated Copyright Agent (identified in the sample notice below).
        <br>If you are a copyright owner, authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, 
        please report alleged copyright infringements taking place on or through the Don't Fret website by completing the following DMCA 
        Notice of Alleged Infringement and delivering it to Don't Fret's Designated Copyright Agent. Upon receipt of Notice as described below, 
        Don't Fret will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged content from 
        the Don't Fret website.</p>
    </div>  
    <div class = "mdl-card__supporting-text mdl-shadow--6dp notice">
        <h6>DMCA Notice of Alleged Infringement ("<b>Notice</b>")</h6>
        <ol>
            <li>Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you 
            may provide a representative list of the copyrighted works that you claim have been infringed.</li>
            <li>Identify the material or link you claim is infringing (or the subject of infringing activity) and to which access is to be disabled, 
            including at a minimum, if applicable, the URL of the link shown on the Don't Fret website or the exact location where such material 
            may be found.</li>
            <li>Provide your company affiliation (if applicable), mailing address, telephone number, and, if available, email address.</li>
            <li>Include both of the following statements in the body of the Notice:
                <ul>
                    <li>"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, 
                    its agent, or the law (e.g. as a fair use)."</li>
                    <li>"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on 
                    behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
                </ul>
            </li>
            <li>Provide your full legal name and your electronic or physical signature.</li>
        </ol>
        <br>
        <p>Deliver this Notice with all items completed, to Don't Fret's Designated Copyright Agent:</p>
        <br>
        <p>Copyright Agent<br>Don't Fret, Western University<br>1151 Richmond St.<br>London, Ontario N6A 3K7<br>Canada</p>
        <a href = '#'>copyright@dontfret.com</a>
    </div>
</div>
